* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #400608;
    font-family: 'Oswald';
    height: 50px;
    align-self: center;
    font-size: 15px;
}

.spanHeader {
    align-self: center;
}

.topnav {
    overflow: hidden;
    background-color: black;
    margin: 0;
    z-index: 10;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: rgb(12 47 104 / 85%);
    color: white;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.article {
    display: flex;
}

.bio {
    margin: 40px;
}

#call-us-button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color:#400608 ;
    color:rgb(255,255,255);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
}

#call-us-button span {
    position: absolute;
    left: 0;
    width: 50px;
    background-color:rgba(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid  rgba(0,0,0,0.15);
}

#call-us-button:active {
    margin-top: 2px;
    margin-bottom: 13px;
}

#call-us-button:hover span, #call-us-button.active span {
    background-color:rgb(0,102,26);
    border-right: 1px solid  rgba(0,0,0,0.3);
}

.row {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main-picture {
    height: 80vh;
    width: auto;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 3px solid black;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.scaffolding-type {
    padding: 15px;
    text-align: center;
}

#map{
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.footer {
    background-color: #400608;
    color: white;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

a {
    color: white;
}

#allrights {
    text-align: center;
}

td {
    padding: 5px
}

th {
    padding: 5px
}