<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Force One Scaffolding</title>
</head>
<body>
    <header>
        <span class='spanHeader'>Force One Scaffolding</span>
        <span class='spanHeader'>Call Us Today!</span>
        <span class='spanHeader'>(415)678-6348</span>
    </header>
    <nav>
        <div class='topnav'>
            <a class="w3-xlarge"><i class="fa fa-home"></i></a>
            <a href="html/about.html">About Us</a>
            <a href="">Suspended</a>
            <a href="">Commercial</a>
            <a href="">Industrial</a>
            <a href="">Stair Towers</a>
            <a href="">Sidewalk Canopies</a>
            <a href="">Shoring</a>
            <a href="">Installation/Rentals</a>
            <a href="html/contact.html">Contact</a>
        </div>
    </nav>